body {	
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ 
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.table th.text-right, .table td.text-right {
	text-align: right;
}

.modal > form {
	margin: 0;
}

table.image-table tbody td {
	vertical-align: middle;
}

table.image-table tbody tr td:first-child {
	width: 32px;
}

a.reveal-icon:hover {
	text-decoration: none;
}

a.reveal-icon [class^="icon-"], a.reveal-icon [class*=" icon-"] {
	visibility: hidden;
	display: inline-block;
	width: 0px;
}

a.reveal-icon [class^="icon-"]:before, a.reveal-icon [class*=" icon-"]:before {
	padding-left: 0.3em;
}

a.reveal-icon:hover [class^="icon-"], a.reveal-icon:hover [class*=" icon-"] {
	visibility: visible;
}

.no-padding {
	padding: 0;
}